$box-active: #d8daeb;
$container-bgc: #f4ebf3;

.weather--box__forecast {
  width: 150px;
  transition: all 0.5s ease;
  border-radius: 5px;
  .weather__date {
    height: 30px;
    width: 100%;
  }
  .weather__img {
    height: 100px;
    width: 150px;
    img {
      height: 100%;
      width: auto;
    }
  }
  .weather__details {
    height: 30px;
  }
}
